/* general style */
.container {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

/* feed back boxes style */
.feedback-sec {
  font-family: Sahel, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(138, 187, 255);
  background: linear-gradient(
    151deg,
    rgba(138, 187, 255, 1) 0%,
    rgba(255, 255, 255, 0.7931547619047619) 49%,
    rgba(114, 193, 249, 0.7175245098039216) 99%
  );
  width: 250px;
  height: 350px;
  border-radius: 88% 12% 78% 22% / 61% 78% 22% 39%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  p {
    margin: 0;
  }
  img {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 100px;
    border-radius: 88% 12% 100% 0% / 87% 55% 45% 13% ;
    margin-top: -20px;
  }
  .stars > img {
    margin-top: 30px;
    width: 28px;
    height: 28px;
    box-shadow: none;
  }
}
