/* general style */
.container {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

/* feed back boxes style */
.feedback-sec {
  position: relative;
  font-family: Sahel, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(40, 64, 99);
  background: linear-gradient(
    151deg,
    rgba(40, 64, 99, 1) 10%,
    rgba(75, 172, 255, 0.7175245098039216) 27%,
    rgba(75, 172, 255, 1) 100%
  );
  width: 250px;
  height: 350px;
  border-radius: 48% 52% 100% 0% / 24% 48% 52% 76%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  p {
    margin: 0;
    font-weight: bolder;
    color: #eceff1;
  }
  h1 {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  .fog-moon {
    width: 60px;
    position: absolute;
    left: 140px;
    top: 30px;
    box-shadow: none;
  }
  img {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 100px;
    border-radius: 88% 12% 100% 0% / 87% 55% 45% 13%;
    margin-top: -20px;
  }
  .stars {
    > img {
      margin-top: 30px;
      width: 28px;
      height: 28px;
      box-shadow: none;
    }
  }
}

@media only screen and (max-width: 750px) {
  .container {
    width: 500px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .feedback-sec {
      transition: all 180ms ease-in-out 48ms;
      &:hover {
        margin-bottom: 50px;
      }
      &:hover > .stars > img {
        display: inline-block;
        position: absolute;
        top: 10px;
        width: 20px;
        height: 20px;
        z-index: 300;
      }
      width: 150px;
      height: 150px;
      border-radius: 55% 45% 100% 0% / 30% 47% 53% 70%;
      img {
        width: 70px;
      }
      .fog-moon {
        width: 30px;
        left: 90px;
        top: 20px;
      }
      h1 {
        font-size: 20px;
        margin: 0;
      }
      p {
        font-size: 14px;
      }
      .stars {
        position: relative;
        img {
          transition: all 180ms ease-in 48ms;
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .container {
    width: 300px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .feedback-sec {
      transition: all 180ms ease-in-out 48ms;
      &:hover {
        margin-bottom: 50px;
      }
      &:hover > .stars > img {
        display: inline-block;
        position: absolute;
        top: 10px;
        width: 20px;
        height: 20px;
        z-index: 300;
      }
      width: 150px;
      height: 150px;
      border-radius: 55% 45% 100% 0% / 30% 47% 53% 70%;
      img {
        width: 70px;
      }
      .fog-moon {
        width: 30px;
        left: 90px;
        top: 20px;
      }
      h1 {
        font-size: 20px;
        margin: 0;
      }
      p {
        font-size: 14px;
      }
      .stars {
        position: relative;
        img {
          transition: all 180ms ease-in 48ms;
          display: none;
        }
      }
    }
  }
}
